/* Apply basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: font_wedding;
    src: url('/uncode-icons.woff2') format('woff2');
    font-display: swap;
  }

/* Set full height for the body */
body, html {
    width: 100%;
    height: auto;
    overflow-x: hidden;
    font-family: font_wedding;
    font-weight: 400;
    font-size: 15px;
    color: #333333;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
}
/* Body */

/* Background container */
.background-container {

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f7f7f769; /* Yellowish filter */
    z-index: 1;
}

/* Overlay for yellowish filter */
.overlay {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    background-image: url('/bg.png'); /* Path to your image */
    background-size: cover;
    background-position: center ; 
    background-repeat: no-repeat;
}

/* Content centered */
.content {
    width: 80%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    color: #333333;;
    text-align: center;
    z-index: 5 ;
}

/* Title */
h1 {
    font-size: 50px;
    margin-bottom: 60px;
}

/* Paragraph */
p {
    font-size: 1.5em;
    margin-bottom:60px;
}

/* Button styling */
.buttons {
    display: flex;
    gap: 15px;
    justify-content: center;
}

.btn {
    padding: 15px 30px;
    font-size: 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-family: font_wedding;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
}

.btn-vei {
    background-color: #a4b69e;
    color: #333333;;
}

.btn-incarca {
    background-color: #a4b69e;
    color: #333333;;
}

.btn:hover {
    opacity: 0.8;
}
